@model hw1.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Edward Lam</h1>
    <img src="~/Content/Img/Penguin.jpg" class="rounded img-fluid" />
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Number of Phones</h2>
        <h3>@Model.PhoneCount</h3>
    </div>
    <div class="col text-center">
        <h2>Number of Users</h2>
        <h3>@Model.UserCount</h3>
    </div>
    <div class="col text-center">
        <h2>Last Access Date</h2>
        <h3>@Model.LastAccessDate.ToShortDateString()</h3>
    </div>
</div>